<!DOCTYPE html>
<html>
  <head>
    <title>Journal | Personal MicroJournal</title>
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><%= image_tag ("JournalLogo.png"), class: 'logo' %></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/users/profile">Back to profile</a></li>
        <li><%= link_to 'Log-Out', log_out_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
</div>
    <%= yield %>

  <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
  </body>
</html>
