<!DOCTYPE html>
<html>
  <head>
    <title>Journal | Personal MicroJournal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script type="text/template" id="journal-template">

      <div class="row">
        <h4 class="col s10"><%%= entry %></h4>
        <button type="button" class="remove btn-floating btn-tiny waves-effect waves-light red material-icons">not_interested</button>
        </div>
    </script>
  </head>
  <body>
  <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
      <%= image_tag ("JournalLogo.png"), class: 'logo' %>
      <ul class="right">
        <li class="hide-on-med-and-down">Welcome Back <%= @user.username %>  </li>
        <li><a href="/users/<%= @user.id%>/edit">Edit Profile</a></li>
        <li><%= link_to 'Log-Out', log_out_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
</div>
    <%= yield %>

  <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
  </body>
</html>
